<body>
  <div class="container">

    

    <h1 class="text-center bd-highlight" style="font-size:90px; font-family:verdana"><b>Who are we?</b></h1>

    <div class="d-flex justify-content-center">

      <div>
        <p class="text-center" style="font-size:25px">We believe there is a better way to present the gazette notices. A
          more valuable, less invasive way where users
          are earned rather than bought. We're obsessively passionate about it, and our mission is to help people
          achieve it. We're excited to simplify the gazette notices for everyone through our software, education, and
          community.</p>
      </div>

    </div><br><br>

    <div>
      <div class="vision">
        <br>
        <h4 class="text-center bd-highlight" style="font-size:25px; font-family:verdana"><b>Our Vision</b></h4>
        <br>
        <h6 class="text-center bd-highlight" style="font-size:20px; font-family:georgia">
          “To become the Sri Lanka’s most visited platform to provide tender notices in a nutshell.”</h6>
        <br>
      </div>

      <div class="mission">
        <br>
        <h4 class="text-center bd-highlight" style="font-size:25px; font-family:verdana"><b>Our Mission</b></h4>
        <br>
        <h6 class="text-center bd-highlight" style="font-size:20px; font-family:georgia">
          “To become the Sri Lanka’s most visited platform which provides tender notices in a nutshell.”</h6>
        <br>
      </div>
    </div>
  </div>
</body>