.vision {
  background-color: rgb(82, 78, 78);
  color: white;
  width: 50%;
  height: auto;
  float: left;
  text-align: center;
}

.mission{
  background-color: rgb(70, 61, 61);
  color: white;
  width: 50%;
  height: auto;
  float: left;
  text-align: center;
}