<body>
  <header class="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" to="/" exact>
        <img class="logo" src="../../../assets/images/logo2.png" alt="logo">
      </a>
      <hr>
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a class="nav-link" href="/login"> Login  |</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signup">  Register  |</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about-us-home">  About Us</a>
        </li>
      </ul>
    </nav>
  </header>

  <div class="container">

    <p class="text-center bd-highlight" style="font-size:45px; font-family:verdana"><b>Are you INTERESTED in</b></p>

    <p class="text-center bd-highlight" style="font-size:60px; font-family:georgia"><b>TENDER NOTICES ?</b></p>
    <p class="text-center bd-highlight" style="font-size:25px; font-family:verdana"><b>Let us help you</b></p>

    <h1 class="text-center bd-highlight" style="font-size:130px; font-family:verdana"><b>GAZETTIZER</b></h1><br />
    <div class="footer">
      ©copy gazettizer, 2019 - 115 New Temple Street, Wellawatte, Colombo - 04, Sri Lanka
      <br>Tel: +9477668553
    </div>

  </div>

</body>