body {
    background-image: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.4)),url("../../assets/images/signup-bg.jpg");
    min-height: 722px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
  
}
.topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #4caf50;
    color: white;
  }
  
  .navbar-brand img {
    width: 200px;
    height: 50px;
  }
  
  .navbar-nav{
     padding-right: 30px;
     padding-left: 40px;
     
  }
  
  .nav-item{
    color:black;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     font-weight: bold;
     font-size: 20px;
  }
  
  .logo{
    padding-bottom:7px !important;
  }

.center-card{
    // margin-top: 11.6rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
    transition: .3s;
    border-radius: 5px;
    padding: 30px;
}

.card{
    background-color: rgba(0, 0, 0, 0.568);

}

.signup-form .input-group-addon {
    max-width: 42px;
    text-align: center;
}

.form-control, .form-control:focus, .input-group-addon {
    border-color: #e1e1e1;
}

.signup-form .fa-check {
    color: #fff;
    position: absolute;
}

.signup-form .fa {
    font-size: 21px;
}

.footer {
    position: fixed;
    background-color: rgb(54, 47, 47);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    opacity: 0.7;
    text-align: center;
    color: white;
    height: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
  }

  a{
    color: white;
}

a:link {
    text-decoration: underline;
}  

a:hover {
    color: rgba(232, 248, 12, 0.781);
}

