<body>
  <br>
  <br>
  <h6 class="text-center bd-highlight" style="font-size:55px; font-family:verdana"><b>Privacy Policy</b>
  </h6>
  <br><br>
  <div class="container">
    <div class="d-flex justify-content-center">
      <div class="description">
        <br>
        <h4 class="text-center bd-highlight" style="font-size:25px; font-family:verdana"><b>What information do we
            collect?</b></h4>
        <br>
        <h4 class="text-center bd-highlight" style="font-size:20px; font-family:georgia">
          We collect information from you
          when you register on our site and when logging in.
          Any data we request that is not required
          will be specified as voluntary or optional.</h4>
        <br>
      </div>

      <div class="description1">
        <br>
        <h4 class="text-center bd-highlight" style="font-size:25px; font-family:verdana"><b>What do we use your
            information for?</b></h4>
        <br>
        <h4 class="text-center bd-highlight" style="font-size:20px; font-family:georgia">
          We collect this information to better understand how visitors use our website, moniter and protect the
          security of the website</h4>
        <br>
      </div>
    </div>

    <br>


    <div class="text-center bd-highlight" style="font-size:20px">
      <b>
        <p>Go back to
          <a href="/signup"> Sign Up</a>
        </p>
      </b>
    </div>
    <div class="footer">
      ©copy gazettizer, 2019 - 115 New Temple Street, Wellawatte, Colombo - 04, Sri Lanka
      <br>Tel: +9477668553
    </div>
  </div>
</body>